/* .App {
  text-align: center;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
} 
body{
  height: 100vh;
  background-image: linear-gradient(0.25turn, #3f87ad,#004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

h1{
  text-align:center;
  margin-top: 10px;
}


h2{
  margin: 12px;
  /* text-shadow: 1px 2px 1px white; */
  text-transform: capitalize;
  

}
input{
  width: 300px;
  padding: 10px;
  margin-top: 32px;
  margin-left: 14px;
  border: 3px solid rebeccapurple;
  border-radius: 10px ;
}

.btn {
  display: grid;
  margin-left: 42px;
   margin-top: 15px;
  width: 15rem;
  border: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #0c0c0c;
  box-shadow: 1px 1px 5px 1px #2d3436;
}

.form-control{
  border: 2px solid black;
 
}